@model BundleGames.Models.Korisnik

@{
    ViewBag.Title = "Cart";
}

<head>
    <style>

        body {
            background: -webkit-radial-gradient( #0b2a3c, #1b4456);
        }

        .pozadina-index {
            background: -webkit-radial-gradient( #283f63, #1b4456);
        }
    </style>

</head>
<br />
<br />
<br />
<body>
    @if (Model.GamesInShoppingCart != null)
    {
        var listofid = new List<int>();
        foreach (var item in Model.GamesInShoppingCart)
        {
            listofid.Add(item.Game.Id);
            {

                <div class="card mt-5 pozadina-index">
                    <div class="row mt-5 no-gutters mt-2">
                        <div class="col-2">

                            <img class="ml-1 mt-1" style="height:120px;width:180px;" src="@Html.DisplayFor(modelItem =>item.Game.Game_Image)" />

                        </div>

                        <div class="col mt-1">
                            <div class="card-block px-4">
                                <h4 class="card-title ">@Html.ActionLink(item.Game.Game_Name, "Details", "Games", new { id = item.Game.Id }, new { @class = "text-warning" })</h4>

                                @if (item.Game.Game_Cena == 0)
                                {
                                    <h5 class="card-text text-success font-weight-bold">Free To Play</h5>
                                }
                                else
                                {
                                    <h5 class="card-text text-success font-weight-bold">@item.Game.Game_Cena$</h5>
                                }

                                <span>@Html.ActionLink("Checkout", "CheckOut", "Games", new { gameid = item.Game.Id, userid = Session["UserId"] }, new { @class = "btn btn-success text-white mt-2" });</span>
                                <a class="btn btn-link btn-danger js-delete mt-2 text-white" data-id="@item.Game.Id">Remove From Cart</a>

                            </div>
                        </div>

                        <div class="card-footer w-100 text-muted bg-dark mt-3">
                            <label>
                                <span class="text-info">TAGS </span>
                                <span class="btn-sm btn-primary">Adventure</span>
                                <span class="btn-sm btn-primary">Action</span>
                                <span class="btn-sm btn-primary">First-Person</span>
                                <span class="btn-sm btn-primary">MOBA</span>
                                <span class="btn-sm btn-primary">Shooting</span>
                                <span class="btn-sm btn-primary">Indie</span>
                            </label>

                        </div>

                    </div>

                </div>

            }
        }
        <br />
        <span>@Html.ActionLink("Back To Shopping", "Index", "Games", null, new { @class = "btn btn-info text-white  mt-2" })</span>

    }
    @if (Model.GamesInShoppingCart.Count <= 0)
    {
        <div class="container">
            <div class="row">
                <div class="col">
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <h1 class="text-warning" style="padding-left:200px">SHOPPING CART EMPTY</h1>
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
    }



</body>

@section scripts {
    <script>
        $(".js-delete").click(function () {
            var button = $(this);

            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    $.ajax({
                        method: "GET",
                        url: "/ShoppingCarts/Delete/" + button.attr("data-id"),
                        success: function () {
                            button.parent().parent().parent().parent().remove();
                        }
                    })
                }
            })
        })

        
            

        
    </script>

}  