@model IEnumerable<BundleGames.Models.Game>

@{
    ViewBag.Title = "Index";
}
<head>
    <script>
        
    </script>
</head>
<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table text-white js-delete" id="tabela">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game_Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game_Cena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game_Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Release_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Developer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Game_Name, "Details", new { id = item.Id })
                </td>
                <td>
                    <img style="height:100px;width:150px;" src="@Html.DisplayFor(modelItem => item.Game_Image)" />
                </td>
                <td>
                    @if (item.Game_Cena == 0)
                    {
                        <label>Free</label>
                    }
                    else
                    {
                        <label>@Html.DisplayFor(modelItem => item.Game_Cena)$</label>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Game_Info)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Release_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Developer)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    
    <script>
        $(document).ready(function () {
            $("#tabela").dataTable();
        })
        $("#tabela .js-delete").click(function () {
            bootbox.confirm("dali ste sigurni?", function (result) {
                if (result) {

                }
            })
        })
    </script>
    
    }