@model IEnumerable<BundleGames.Models.Game>
@{
    ViewBag.Title = "Index";
}
<head>
    <style>
        body {
            background: -webkit-radial-gradient( #0b2a3c, #1b4456);
        }
        .pozadina-index {
            background: -webkit-radial-gradient( #283f63, #1b4456);
        }
    </style>
</head>
<body>
    
    @foreach (var item in Model)
    {
        <div class="card mt-5 pozadina-index">
            <div class="row mt-5 no-gutters mt-2">
                <div class="col-2">

                    <img class="ml-1 mt-1" style="height:120px;width:180px;" src="@Html.DisplayFor(modelItem => item.Game_Image)" />


                </div>
                <div class="col mt-1">
                    <div class="card-block px-2">
                        <h4 class="card-title ">@Html.ActionLink(item.Game_Name, "Details", new { id = item.Id }, new { @class = "text-warning" })</h4>

                        @if (item.Game_Cena == 0)
                        {
                            <h5 class="card-text text-success font-weight-bold">Free To Play</h5>
                        }
                        else
                        {
                            <h5 class="card-text text-success font-weight-bold">@item.Game_Cena$</h5>
                        }

                        @Html.ActionLink("Add To Card", "Index", "ShoppingCarts", new { id=item.Id}, new { @class = " btn btn-success mt-2 " })
                        @Html.ActionLink("Add To Wishlist", "AddGameToWishlist", new { id = item.Id, userid = Session["UserId"] }, new { @class = "btn btn-warning mt-2" })
                        

                        @*
           @if (User.IsInRole("Administrator"))
        {
            <a>@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning mt-2" })</a>
            <a>@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger mt-2" })</a>
        }
                        *@


                        <a>@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info mt-2" })</a>
                        <a class="btn btn-link btn-danger js-delete mt-2 text-white" data-id="@item.Id">Delete</a>
                        <a>@Html.ActionLink("Add To Weekly Special", "Index","PopustGames", new { id = item.Id }, new { @class = "btn btn-secondary mt-2" })</a>

                    </div>
                </div>

                <div class="card-footer w-100 text-muted bg-dark mt-3">
                    <label><span class="text-white">TAGS:</span> <span class="btn-sm btn-primary">Adventure</span>
                    <span class="btn-sm btn-primary">Shooter</span>
                    <span class="btn-sm btn-primary">MOBA</span>
                    <span class="btn-sm btn-primary">Action</span></label>
                </div>
            </div>
        </div>
    }

</body>
@section scripts {
    <script>
        $(".js-delete").click(function () {
            var button = $(this);

            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    $.ajax({
                        method: "GET",
                        url: "/Games/Delete/"+button.attr("data-id"),
                        success: function () {
                            table.row(button.parents("tr").remove().draw());
                        }
                    })
                }
            })
        })
    </script>
    }
