
@model BundleGames.Models.Korisnik
@{
    ViewBag.Title = "WishListView";
}
@using (Html.BeginForm("WishListView", "Games"))
{

    <head>
        <style>
            body {
                background: -webkit-radial-gradient( #0b2a3c, #1b4456);
            }

            .pozadina-index {
                background: -webkit-radial-gradient( #283f63, #1b4456);
            }
        </style>
    </head>


    <body>
        @if (Session["Username"] != null)
        {
            <h1 class="mt-5"></h1>
            <h1 class="text-warning btn btn-outline-info mt-5">
                <label class="text-warning">Welcome:</label> <label class="text-success"> @Session["Username"] </label>
                <br />

                <img class="mt-1" style="height:50px;width:50px" src="@Session["UserImage"]" />
                <br />
                <label class="text-warning mt-2">Your WISHLIST Games:</label>
            </h1>
        }




        @if (Session["Username"] != null)
        {

            if (Model.WishlistGames != null)
            {
                foreach (var item in Model.WishlistGames)
                {

                    <div class="card mt-5 pozadina-index">
                        <div class="row mt-3 no-gutters">
                            <div class="col-2">

                                <img class="ml-1 mt-1" style="height:120px;width:180px;" src="@Html.DisplayFor(modelItem => item.Game.Game_Image)" />

                            </div>

                            <div class="col mt-1">
                                <div class="card-block px-4">
                                    <h4 class="card-title ">@Html.ActionLink(item.Game.Game_Name, "Details", new { id = item.Game.Id }, new { @class = "text-warning" })</h4>

                                    @if (item.Game.Game_Cena == 0)
                                    {
                                        <h5 class="card-text text-info font-weight-bold">Free To Play</h5>
                                    }
                                    else
                                    {
                                        <h5 class="card-text text-success font-weight-bold">@item.Game.Game_Cena$</h5>
                                    }

                                    @Html.ActionLink("Add To Cart", "Cart", new { gameid = item.Game.Id, userid = Session["UserId"] }, new { @class = " btn btn-success mt-2 mr-3 " })

                                    <a class="btn btn-link btn-danger js-delete mt-2 text-white" data-id="@item.Game.Id">Remove From List</a>


                                </div>
                            </div>

                            <div class="card-footer w-100 text-muted bg-dark mt-3">
                                <label>
                                    <span class="text-info">TAGS </span>
                                    <span class="btn-sm btn-primary">Adventure</span>
                                    <span class="btn-sm btn-primary">Action</span>
                                    <span class="btn-sm btn-primary">First-Person</span>
                                    <span class="btn-sm btn-primary">MOBA</span>
                                    <span class="btn-sm btn-primary">Shooting</span>
                                    <span class="btn-sm btn-primary">Indie</span>

                                </label>

                            </div>
                        </div>
                    </div>
                }
            }
            if (Model.WishlistGames == null)
            {



            }


        }
        <div style="height:600px">

        </div>
        
        }
    </body>
}
@section scripts {
    <script>
        $(".js-delete").click(function () {
            var button = $(this);

            bootbox.confirm("Are you sure?", function (result) {
                if (result) {
                    $.ajax({
                        method: "GET",
                        url: "/Wishlists/Delete/" + button.attr("data-id"),
                        success: function () {
                            console.log(button);
                            button.parent().parent().parent().parent().remove();
                        }
                    })
                }
            })
        })
    </script>

}

