<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Bandle Games</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

<style>
    .navbargore {
        background: -webkit-radial-gradient( #465560, #151922);
    }
    .futer {
        background-color: #151922;
    }
    
</style>
    
</head>

<body class="pozadina">

    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="navbar navbargore navbar-expand-lg  fixed-top">
                    <div class="ml-5">
                        <a href="@Url.Content("~")"><img class="ml-5" src="~/Logo/BundleGamesLogo.png" /></a>
                    </div>

                    @* NAV BAR*@
                    <div class="container-fluid">
                        
                        <div class="collapse navbar-collapse ml-5">
                            <ul class="navbar-nav mr-auto ml-5">
                                <li class="nav-item active ml-5">
                                    @Html.ActionLink("STORE", "Index", "Games", null, new { @class = " btn text-info  border-right ml-5" })
                                </li>
                                @*
                                <li class="nav-item">
                                    @Html.ActionLink("WEEKLY SPECIAL", "Index", "PopustGames", null, new { @class = " btn text-info  border-right" })
                                </li>
                                *@
                                <li class="nav-item">
                                    @Html.ActionLink("PROFILE", "ProfileShow","Games", new { id = Session["UserId"] }, new { @class = " btn text-info  border-right" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("WISHLIST", "WishListView", "Games", new { id = Session["UserId"] }, new { @class = " btn text-info border-right" })
                                </li>
                                <li class="nav-item">
                                    @Html.ActionLink("CONTACT", "Contact", "Home", null, new { @class = " btn text-info border-right" })
                                </li>

                                @if (Session["Username"] != null)
                                {
                                    if (Session["Username"].ToString() == "admin")

                                    {
                                        <li class="nav-item">
                                            @Html.ActionLink("Add New Game", "Create", "Games", null, new { @class = " btn text-warning border-right" })
                                        </li>
                                    }
                                }

                            </ul>
                        </div>


                        @*SEARCH ( FOR LATER )
                                <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search Games..." aria-label="Search">
                                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                            </form>
                        *@
                    
                        @Html.Partial("_LoginPartial")
                    

                    </div>

                </nav>

            </div>

        </div>

    </div>


    <div class="container body-content">
        @RenderBody()

    </div>
    <br />
    <footer class="fixed-bottom mb-2">
        <nav style="top:20px;" class="futer navbar">
            <div class="navbar navbar-expand-lg container ">
                <div class="row ml-5">
                    <div class="col ml-5">
                        <span class="m-lg-3"></span><span class="m-lg-5"></span><a href="@Url.Content("~")"><img class="ml-5" width="100" height="40" src="~/Logo/BundleGamesLogo.png" /></a>
                        <label class="text-info">© 2020 Copyright </label> <a href="@Url.Content("~")" class="footer-copyright  py-3 text-warning">BandleGames </a>
                    </div>
                </div>
            </div>
        </nav>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
